{% extends 'base.html' %}

{% block title %}
 Post List
{% endblock %}

{% block content %}

{%for post in posts %}
    {% if post.status != 'DF' %}
        <!-- <a href="{% url 'blog:post_detail' post.id %}">
            {{ post.title }}
            </a> -->
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
                </a>
        <p>Title: {{ post.title }} </p>   <p>Status: {{ post.status }} </p> 
        <p>Slug: {{ post.slug }} </p> 
        <p>Body: {{ post.body|truncatewords:15|linebreaks }} </p> 
        <p>Publish {{ post.publish }} By Author: {{ post.author }} </p> 

        <p>-----------</p>
    {%else%}
        <p>Title: {{ post.title }} </p>   <p>Status: {{ post.status }} </p> 
        <p>Slug: {{ post.slug }} </p> 
        <p>Body: {{ post.body|truncatewords:15|linebreaks }} </p> 
        <p>Publish {{ post.publish }} By Author: {{ post.author }} </p> 
        <p>-----------</p>
    {% endif %}
{% endfor %}

{% endblock %}