{% extends 'base.html' %}

{% block title %}
 Share Post
{% endblock %}

{% block content %}
<!-- 
{%for post in posts %}

            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
                </a>
        <p>Title: {{ post.title }} </p>   <p>Status: {{ post.status }} </p> 
        <p>Slug: {{ post.slug }} </p> 
        <p>Body: {{ post.body|truncatewords:15|linebreaks }} </p> 
        <p>Publish {{ post.publish }} By Author: {{ post.author }} </p> 


{% endfor %} -->
Share Posts Page

{% endblock %}